<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.amphiprion.trictrac"
      android:versionName="1.4.12" android:versionCode="23">
    <application android:debuggable="false" android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Home" android:configChanges="keyboardHidden|orientation"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditCollection"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".CollectionActivityGroup" android:launchMode="singleTop" 
                  android:label="@string/app_name">
        </activity>
        
        <activity android:name=".TricTracGameList" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation"
                  android:label="@string/menu_search_trictrac">
	        <intent-filter>
	            <action android:name="android.intent.action.SEARCH" />
	        </intent-filter>
	        <meta-data android:name="android.app.searchable"
	                   android:resource="@xml/searchable"/>
        </activity>
        <activity android:name=".SearchList"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".EditSearch"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".PlayerList"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".EditPlayer"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".EditParty"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".PartyList"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".Browser"
                  android:label="@string/app_name">
        </activity>

    </application>
	<supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />    
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"/>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

</manifest> 